.App {
  background: black;
}

span {
  color: crimson;
  display: none;
  width:100%;
  word-wrap: break-word;
}

.inputs:invalid[focused="true"] {
  border: 1px solid crimson;
}

.inputs:invalid[focused="true"] ~ span {

  display: block;
}